{% extends 'base.html' %}

{% block body %}
<center><h1>About Us</h1>
<br>
<h3>Our Team</h3></center>
<div class = "aboutme">
<img src="static/gianni.jpg" style="position:absolute; left: 200px; top: 200px;" height="150" width="150"  alt="">
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h4>Gianni Lucchesi; Founder</h4>
<p> 
    Hello! My name is Gianni Lucchesi and my goal with this website is to <br> 
    provide free, informative and engaging financial education to all, and I  <br>
    will try to teach everyone who wants to learn without any hidden fees, or <br> 
    boring filler information.
</p>

  <br>
  <br>
  <hr>


 <center> 
    <h4>Intended Interactivity</h4>

<p>
    In this website, I want to provide this information to <b>anyone</b> who is willing to learn. It doesn't matter if you 
    have absolutely zero knowledge or if you are already an expert, everyone is welcome!
</p>
</center>
{% endblock %}