<!-- This is a blank template.  You can copy this to make a new template page. -->
{% extends 'base.html' %}
@login_required
{% block body %}
<head>
<style>
    
</style>
</head>

<center><h1>Courses</h1></center>
<hr>
<br>

<div id="wrapperDiv">
<div id="div1" style="padding:10px;background-color:#313131; float:center">
   <a href="/lessonMaking"> <h6>Making Money</h6></a>
</div>

<div id="div2" style="padding:10px;background-color:#212121; float:center">
    <a href="/lessonInvesting"><h6>Investing</h6></a>
       
</div>

<div id="div3" style="padding:10px; background-color:#313131; float:center">
    <a href="/lessonBudgeting"><h6>Budgeting</h6></a>   
</div>

<div id="div4" style="padding:10px; background-color:#212121; float:center">
    <a href="/lessonSaving"><h6>Saving (INCOMPLETE)</h6></a>  
</div>

<div id="div1" style="padding:10px; background-color:#313131; float:center">
    <a href="/lessonBorrowing"><h6>Borrowing (INCOMPLETE)</h6></a>  
</div>

<div id="div2" style="padding:10px; background-color:#212121; float:center">
    <a href="/lessonSpending"><h6>Spending (INCOMPLETE)</h6></a>  
</div>

<div id="div3" style="padding:10px; background-color:#313131; float:center">
    <a href="/lessonProtect"><h6>Protect (INCOMPLETE)</h6></a>
</div>
</div>

<br>
<br>   
<br>
<br>
<br>  
<br>
<br>
<br>  
{% endblock %}