<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<head>
    <style>
    </style>
  </head>
<h1>Protect</h1>

<h5>Scammers</h5>
<p>
  There are people all around the world who will try to scam you for your money. 
  Read <a href="https://www.usa.gov/common-scams-frauds" target="blank">this article</a> to learn about the most common types of scams and find out what you need to watch out for!
  Don't let your money get into the wrong hands.
</p>

<hr>
<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2022 Financio, Inc. &middot; <a href="/aboutus">About Us</a> &middot; <a href="/terms">Terms</a></p>
</footer>
{% endblock %}