<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<head>
    <style>
    </style>
  </head>
<center><h1>Making Money</h1></center>
<hr>
<center><h3>To invest, you need money. How do you get money in the first place?</h3></center>
<h5>Long-Term Career Path</h5>
<p>
    Although you may not want to work, in order to get money, you must find a job. 
    There are many different types of jobs and industries out there, and it is purely up to you
    which industry you wish to pursue. Depending on what you wish to work in, you may not even need
    a college degree! Check out the balance career's list of Career Types and click on whichever career you are interested in pursuing.
    They have informative stats to help you understand that profession's responsibilities, salary, needed education and more!
    You don't need to work a job that you hate; seek a career that you personally enjoy and love what you do!
</p>  

<center><a href="https://www.thebalancecareers.com/different-types-of-jobs-a-z-list-2059643" target="blank">List of Career Types</a></center> 

<h5>Passive Income</h5>
<p>
    Passive income is essentially earning money while sitting back and doing nothing. Sounds great right? The trouble is in actually creating the source for passive 
    income. Some examples of this are: owning property (property values typically go up over time), holding money in low risk market funds (learn about this in the investing section), 
    renting out space (as in airbnb or storage space), or perhaps creating an app or website that passively generates income. Whatever the source may be, one thing remains in common: 
    they all require an initial investment. In owning property and renting out space, you must initially buy that space. In holding money in low risk markets, you must already have money to invest.
    And in creating an app, you must invest many resources into actually developing your idea. Passive income is something to strive for if you want true financial freedom. 
    "If you don't find a way to make money while you sleep, you will work until you die" - Warren Buffet  
</p>  

<h5>Fast Income</h5>
<p>
    Not all money has to come from your 'main' job; here is a list of things you can do to make money NOW!
    <ol>
        <li>selling your possessions <a href="https://www.realsimple.com/home-organizing/organizing/how-to-sell-everywhere" target="blank">how?</a></li>
        <li>requesting financial support from the government <a href="https://www.usa.gov/benefits" target="blank">how?</a></li>
        <li>Starting a neighborhood buisness like dogwalking, petsitting, or mowing people's lawns <a href="https://www.nolo.com/legal-encyclopedia/starting-dog-walking-business-california.html" target="blank">how?</a></li>
    </ol>
</p>  

<hr>
<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2022 Financio, Inc. &middot; <a href="/aboutus">About Us</a> &middot; <a href="/terms">Terms</a></p>
</footer>
{% endblock %}