<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<head>
    <style>
    </style>
  </head>
<center><h1>Borrowing</h1></center>

<center><h3>loans.</h3></center>

<h5>Ways to borrow money</h5>
<p>
Money can be borrowed in a variety of ways, through private loans, personal loans, bank loans, and many others, 
if you really need the financial support, there are many different types of loans, so you have a lot to choose from.
</p>

<hr>
<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2022 Financio, Inc. &middot; <a href="/aboutus">About Us</a> &middot; <a href="/terms">Terms</a></p>
</footer>
{% endblock %}