<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<head>
    <style>
    </style>
  </head>
<center><h1>Budgeting</h1></center>
<hr>
<center><h3>Split your money into many different buckets</h3></center>
<h5>What is budgetting?</h5>
<p>
    Budgetting is essentially when you analyze the relationship between your income and expenses and use that information to make decisions about your money.
     If you are tight on money, you can prioritize your spending and focus your money on things that are most important to you.
</p>

<h5>Why is budgeting important?</h5>
<p>
    You can stay out of debt by reducing the risks of overspending, it can relieve financial stress, and it can help you save money for the future. 
</p>

<h5>How can I budget now?</h5>
<p>
    You can start budgetting now by following the directions in  <a href="https://www.tillerhq.com/make-a-budget-in-google-sheets/" target="blank">This Website</a> 
</p>

<hr>
<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2022 Financio, Inc. &middot; <a href="/aboutus">About Us</a> &middot; <a href="/terms">Terms</a></p>
</footer>
{% endblock %}