<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<head>
    <style>

    </style>
  </head>
<center><h1>Investing</h1></center>
<hr>
<center><h3>Have your money make you more money</h3></center>
<h5>Types of investing</h5>
<p>
    There are plenty of ways to invest your money, each with their own risk and reward levels; here are your options!
    <br><br>
    <p>High risk, high reward options:</p> 
    <ol>
        <li>Stock Market</li>
        <li>Cryptocurrency</li>
        <li>Gambling</li>
    </ol>

   <p>Low risk, low reward options:</p> 
    <ol>
        <li>ETFs</li>
        <li>Index Funds</li>
        <li>Savings Accounts</li>
        <li>Bonds</li>
        <li>Currency Exchanges</li>
        <li>401k fund</li>
    </ol>
</p> 
Other forms of investment:
<ol>
    <li>Buying property</li>
</ol>
</p> 
<br>

<h5>Stock Market Basics</h5>
<p>
   Before you invest in the stock market, you must first know how it works. <a href="https://www.youtube.com/watch?v=p7HKvqRI_Bo&ab_channel=TED-Ed" target="blank">Watch this informative video to learn!</a>
</p>

<hr>
<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2022 Financio, Inc. &middot; <a href="/aboutus">About Us</a> &middot; <a href="/terms">Terms</a></p>
</footer>
{% endblock %}